<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommender System</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body {
            margin: 0;
        }
        .el-row {
            margin-bottom: 20px;
        }
    </style>
</head>
<div id="app">
    <el-menu mode="horizontal" default-active="1" background-color="#545c64"
             text-color="#fff"
             active-text-color="#ffd04b">
        <el-menu-item index="1">Movie Recommender System</el-menu-item>
    </el-menu>
    <el-container>
        <el-main>
            <h2>First Round Recommendation</h2>
            <div v-if="recommended.length">
                <p v-if="method1">We've found that other users with similar tastes with you also like the following movies</p>
                <p v-if="method2">We recommend the following movies based on your preferred movie genre and ratings from other users who like the same movie genre</p>
                <p>Please give your rate for each movie. Second round recommendation will be generated based on these rate, thank you!</p>
            </div>
            <el-row :gutter="20">
                <el-col :span="4" v-for="o in recommended" :key="o.movie_id" :offset="0">
                    <el-card :body-style="{ padding: '0px' }"
                             style="margin-top:15px;height:400px;overflow:auto;position:relative">
                        <el-image
                                style="width: 100%;height:240px;"
                                :src="o.poster_url"
                                fit="cover"></el-image>
                        <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4>
                        <h5 style="padding:0 10px;margin:0">Release year:{{ o.release_year }}</h5>
                        <h5 style="padding:0 10px;margin:0">Your rate:</h5>
                        <el-rate :allow-half="true" v-model="o.feedback" style="padding:10px 10px;" @change="storeFeedback(o)"></el-rate>
                        <!-- <el-button type="danger" plain style="position:absolute;bottom:10px;right:10px" @click="liked_btn(o)">
                            <i class="el-icon-medal el-icon--left"></i>Like
                        </el-button> -->
                    </el-card>
                </el-col>
            </el-row>
            <br>
            <el-button type="danger" plain @click="confirmFeedback" :disabled="confirmFeedback_show">
                <i class="el-icon-check el-icon--left"></i>Submit your rate of first round recommendation
            </el-button>
            <!-- 2nd round recommendation -->
            <h2>Second Round Recommendation</h2>
            <div v-if="second_recommended.length">
                <p>We further recommend 12 movies based on the ones you rated in previous round, guess you'll like them better</p>
                <p>Again, please give your rate for these recommend movies, This will help us to develop better recommend system in the future, thank you!</p>
            </div>
            <el-row :gutter="20">
                <el-col :span="4" v-for="o in second_recommended" :key="o.movie_id" :offset="0">
                    <el-card :body-style="{ padding: '0px' }"
                             style="margin-top:15px;height:400px;overflow:auto;position:relative">
                        <el-image
                                style="width: 100%;height:240px;"
                                :src="o.poster_url"
                                fit="cover"></el-image>
                        <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4>
                        <h5 style="padding:0 10px;margin:0">Release year:{{ o.release_year }}</h5>
                        <h5 style="padding:0 10px;margin:0">Your rate:</h5>
                        <el-rate :allow-half="true" v-model="o.feedback" style="padding:10px 10px;" @change="store2ndFeedback(o)"></el-rate>
                    </el-card>
                </el-col>
            </el-row>
            <br>
            <el-button type="danger" plain @click="confirm2ndFeedback" :disabled="confirm2ndFeedback_show">
                <i class="el-icon-check el-icon--left"></i>Submit your rate of second round recommendation
            </el-button>
            <!-- ending -->
            <div v-if="ending_show">
                <h2>This is the end of our recommendation system, thanks for your participation!</h2>
            </div>

            <!-- user login -->
            <el-dialog
                title="Information Collection"
                :visible="userLogin"
                width="60%"
                :show-close="false"
            >   
                <el-row>
                    <label >Name</label>
                    <el-input v-model="username" placeholder="Please input your name"></el-input>
                </el-row>
                <el-row>
                    <label style="display: block;">Gender</label>
                    <el-radio v-model="gender" label="Male">male</el-radio>
                    <el-radio v-model="gender" label="Female">female</el-radio>
                </el-row>
                <el-row>
                    <label style="display: block;">Age</label>
                    <el-input-number v-model="user_age" :min="1" :max="100" ></el-input-number>
                </el-row>
                <el-row>
                    <label style="display: block;">Educational Background</label>
                    <el-select v-model="user_education" placeholder="Select">
                        <el-option
                        v-for="item in education_background"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-row>
                <span slot="footer" class="dialog-footer">
                    <el-button type="danger" @click="step0" plain :disabled="step0_show"
                               style="min-width:128px">Next</el-button>
                </span>
            </el-dialog>

            <!--  cold start -->
            <el-dialog
                    title="Please choose any genre you're interested in."
                    :visible="dialog0"
                    width="60%"
                    :show-close="false"
            >
                <span>Multiple answers are possible.</span>
                <el-checkbox-group v-model="selected_genre" style="margin-top:20px">
                    <el-checkbox :label=item border v-for="(item, index) in genre" :key="index"
                                 style="margin-top:20px; margin-left: 0px"></el-checkbox>
                </el-checkbox-group>
                <span slot="footer" class="dialog-footer">
                    <el-button type="danger" @click="step1" plain :disabled="step1_show"
                               style="min-width:128px">Next</el-button>
                </span>
            </el-dialog>
            <!--  1st round recommendation -->
            <el-dialog
                    title="Please rate all the following movies, they are randomly picked from your preferred genre."
                    :visible="dialog1"
                    width="80%"
                    :show-close="false"
            >
                <span>We will generate recommendation based on your rate.</span>
                <el-row :gutter="20">
                    <el-col :span="4" v-for="o in movies" :key="o.movie_id" :offset="0">
                        <el-card :body-style="{ padding: '0px' }" style="margin-top:15px;height:368px;overflow:auto">
                            <el-image
                                    style="width: 100%;height:240px;"
                                    :src="o.poster_url"
                                    fit="cover"></el-image>
                            <h4 style="padding:0 10px;margin:0">{{o.movie_title}}</h4>
                            <h5 style="padding:0 10px;margin:0">Release year:{{ o.release_year }}</h5>
                            <el-rate :allow-half="true" v-model="o.score" style="padding:10px 10px;"></el-rate>
                        </el-card>
                    </el-col>
                </el-row>
                <span slot="footer" class="dialog-footer">
                    <el-button type="danger" @click="step2" plain :disabled="step2_show"
                               style="width:128px">Next</el-button>
                </span>
            </el-dialog>

        </el-main>

    </el-container>
</div>
<body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    ELEMENT.locale(ELEMENT.lang.en)
    new Vue({
        el: '#app',
        data: function () {
            return {
                baseurl: 'http://127.0.0.1:8000',
                username: '',
                user_age: 20,
                gender: 'male',
                education_background:[{
                    value: 'Middle School',
                    label: 'Middle School'
                },{
                    value: 'High Schoole',
                    label: 'High Schoole'
                },{
                    value: 'Undergraduate',
                    label: 'Undergraduate'
                },{
                    value: 'Postgraduate',
                    label: 'Postgraduate'
                },{
                    value: 'Doctor',
                    label: 'Doctor'
                },{
                    value: 'Other',
                    label: 'Other'
                }],
                user_education: '',
                genre: [],
                selected_genre: [],
                method1: false, // current user based recommend method
                method2: false, // current content based recommend method
                movies: [], // random moives for cold start
                rated_movies: [], // rated movies for 1st round recommendation
                recommended: [],
                allFeedback: {}, // user's first feedback
                second_recommended: [],
                secondFeedback: {}, // user's second feedback
                userLogin: true,
                dialog0: false,
                dialog1: false,
                confirmFeedback_show: true,
                confirm2ndFeedback_show: true,
                ending_show: false,
                iconClasses: ['icon-rate-face-1', 'icon-rate-face-2', 'icon-rate-face-3'],
                checkboxGroup1: [],
                value: 2
            }
        },
        methods: {
            step0: function(){
                axios.post(this.baseurl + "/api/login", [this.username]).then((res) => {
                    if (!res.data["result"]){
                        alert("Name is duplicated! Please input again.")
                    } else{
                        this.userLogin = false;
                        this.dialog0 = true;
                        
                    }
                })
                
            },
            step1: function () {
                axios.post(this.baseurl + "/api/movies", this.selected_genre).then((res) => {
                    //console.log(res);
                    this.movies = res.data;
                    console.log(typeof this.movies);
                    if (this.movies.length === 18) {
                        this.dialog0 = false;
                        this.dialog1 = true;
                    } else {
                        this.$message({
                            showClose: true,
                            message: 'Error'
                        });
                    }
                })
            },
            step2: function () {
                console.log(this.movies);
                // only send the rated movies
                for(var movie of this.movies){
                    if(movie['score'] != 0){
                        this.rated_movies.push(movie)
                    }
                }
                axios.post(this.baseurl + "/api/recommend", [this.username, this.rated_movies]).then((res) => {
                    // console.log(res.data)
                    this.recommended = res.data;
                    if (this.recommended.length > 0) {
                        this.dialog1 = false;
                    } else {
                        this.$message({
                            showClose: true,
                            message: 'Error'
                        });
                    }
                });
                this.getRecommendMethod();
                this.saveUserInfo();
            },
            // save user login infomation
            saveUserInfo: function(){
                var user_info = [this.username,this.user_age.toString(),this.gender,this.user_education]
                axios.post(this.baseurl + "/api/save_user_info",user_info).then((res) => {
                    console.log(res.data)
                })
            },
            // temporarily store user's feedback
            storeFeedback:function(movie){
                // this.allFeedback.set(movie.movie_id, movie.feedback)
                this.allFeedback[movie.movie_id] = movie.feedback;
                console.log(Object.keys(this.allFeedback).length);
                if(Object.keys(this.allFeedback).length>=12){
                    this.confirmFeedback_show = false;
                }
            },
            //
            store2ndFeedback: function(movie){
                this.secondFeedback[movie.movie_id] = movie.feedback;
                console.log(Object.keys(this.secondFeedback).length);
                if(Object.keys(this.secondFeedback).length>=12){
                    this.confirm2ndFeedback_show = false;
                }
            },
            // store all user's feedback and get 2nd recommendation
            confirmFeedback: function(){
                console.log(JSON.stringify(this.allFeedback));
                // store 1st user's feedback to local users.csv
                axios.post(this.baseurl + "/api/fisrt_feedback", [this.username, this.allFeedback]).then((res=>{
                    console.log(JSON.stringify(res.data));
                }));
                // get 2nd recommend
                axios.post(this.baseurl + '/api/add_recommend', [this.username, this.allFeedback]).then((res) => {
                    console.log(res.data);
                    // that.recommended.push.apply(that.recommended,res.data);
                    // that.liked.push.apply(that.liked,res.data);
                    this.second_recommended = res.data;
                    console.log(this.second_recommended);
                    this.confirmFeedback_show = true;
                })

            },
            confirm2ndFeedback: function(){
                // store 2nd user's feedback to local users.csv
                axios.post(this.baseurl + "/api/second_feedback", [this.username, this.secondFeedback]).then((res=>{
                    console.log(JSON.stringify(res.data));
                }));
                this.ending_show = true;
            },
            // user-based or content-based
            getRecommendMethod: function(){
                axios.get(this.baseurl + "/api/method").then((res) => {
                    console.log(res.data['method'])
                    if(res.data['method']=='Method_1'){
                        this.method1 = true;
                    }
                    if(res.data['method']=='Method_2'){
                        this.method2 = true;
                    }
                })
            }

        },
        mounted: function () {
            axios.get(this.baseurl + "/api/genre").then((res) => {
                this.genre = res.data['genre'];
            })
        },
        computed: {
            step0_show: function () {
                if (this.username == '') {
                    return true;
                } else {
                    return false;
                }
            },
            step1_show: function () {
                if (this.selected_genre.length > 0) {
                    return false;
                } else {
                    return true;
                }
            },
            step2_show: function () {
                let scores = 0;
                for (let i of this.movies) {
                    if (i['score'] > 0) {
                        scores++
                    }
                }
                console.log(scores);
                if (scores >= 18) {
                    return false;
                } else {
                    return true
                }
            },
            
        }
    })
</script>
</body>
</html>
